/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  color:black;
}
body * {
  scroll-margin-top: 5.5rem;
}

/* CLASS STYLES */

.divider {
  margin: 2rem 0;
}
hr.bold {
  border-top: 2px solid rgba(0,0,0,.25)
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 150;
  /* line-height: 1; */
  letter-spacing: -.05rem;
}

.featurette {
  align-items: center;
}

.bg-tiffany-blue {
  background-color: #81D8D0 !important;
}

.img-center-cover {
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}

/* ID STYLES */
#name-div * {
  color: white;
  opacity: 0.7;
}
#content {
  margin: 2rem auto;
}

#name-div {
  background-image: url(assets/portrait.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
}

#name-div h1 {
  font-size: 4rem;
}

#link-div a {
  padding: 0 10px;
  text-decoration: none;
  font-size: 3rem;
  color:white;
  opacity: 0.9
}

#link-div a:visited{
  color: white;
}

#link-div a:hover{
  opacity: 1.0;
}

#link-div .fa-github{
  font-size: 3.3rem;
}

#sebbu-brain {
  background-image: url(assets/sebbu_brain.jpg);
}
#sebbu-cute {
  background-image: url(assets/sebbu_cute.jpg);
}

#sebbu-last {
  background-image: url(assets/sebbu_last.jpg);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
   /* Do stuff */

}

@media (min-width: 62em) {
  html {
    font-size: 20px;
  }
  #name-div {
    /* background-position: right; */
  }
  
  #name-div h1 {
    font-size: 5rem;
  }

  .divider{
    margin: 5rem 0;
  }

  #content {
    margin: 3rem auto;
  }

}
